<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
    <link rel="stylesheet" href="adminlogin.css">
</head>
<body>

    <!-- html for navigation bar -->

    <nav class="navbar">
        <li> <a href="/">Home</a> </li>
      
        <li> <a href="/ticket"> Ticket</a></li>
        <li> <a href="/epass"> E-pass</a></li>
        <li> <a href="/adminlogin"> Admin</a></li>
         </nav>


<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;height: 600px; width: 100%;">


 
    <div class="container">
        <h1>Admin Login</h1>
      
        <form action="/login" method="post">
            <input type="text" id="" name="userid"  placeholder="User Id">
            <input type="password" placeholder="Password" id="" name="password">
            <p style="color: red;"><%=err%></p>
            <input type="submit" name="" id="submit">
        </form>
    </div>
         </div>
   
</body>
</html>