<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="adminhome.css">
</head>
<body>
    <h1 style="font-size: 40px;">Welcome To Admin Home </h1>
    <div class="container">
        <a href="/showticket">Show Tickets</a>
        <a href="/showepass">Show E-pass</a>

        <a href="/exit">Exit</a>

    </div>
  
</body>
</html>