
body{
    background: rgb(53,216,254);background: linear-gradient(90deg, rgba(53,216,254,1) 0%, rgba(110,255,110,1) 100%);
}
td{
    text-align: center;
    background-color: aliceblue;
    color: black;
    height: 30px;
    width: 1000px;
    border: 2px solid black;
    border-radius: 5px;
}
a{
    display: flex;
    align-items: center;
    justify-content: center;
height: 50px;
width: 400px;
background-color:#0c350c ;
text-decoration: none;
color: aliceblue;
font-size: 25px;
border-radius: 50px;
margin: 40px;
}
.container{
    height: 600px;
    /* background-color: #0c350c; */
    overflow-y: scroll;
}
.container::-webkit-scrollbar{
    display: none;
}