<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="epass.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="epasslogin.css">
    <link rel="stylesheet" href="ticket.css">

    <title>project</title>
</head>

<body>
    <div id="main-bg"></div>

    <!-- html for navigation bar -->
    <nav class="navbar" >
        <div style="margin-top: 50px;">

            <li> <a href="/">Home</a> </li>
            <li> <a href="/ticket"> Ticket</a></li>
            <li> <a href="/epass"> E-pass</a></li>
            <li> <a href="/adminlogin"> Admin</a></li>
        </div>
    </nav>

    <button onclick="res()" class="toggle-btn"> <img src="card-list.svg" alt=""></button>
    </nav>
    <div class="main">



        <div style="margin-top: 50px;">
            <section class="desti" style="margin-top: 0px;">

                <section class="container">
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder=" Search Place 'From'">

                    <ul id="myUL">
                        <li><button onclick=" oldbusstand()"> old bus stand</button></li>
                        <li><button onclick="victorytunnel()"> victory tunnel</button></li>
                        <li><button onclick="railwaystation()">railway station</button></li>
                        <li><button onclick="o103()"> 103</button></li>
                        <li><button onclick="rto()"> rto</button></li>
                        <li><button onclick="mlacrossing()"> mla crossing</button></li>
                        <li><button onclick="baluganj()"> baluganj</button></li>
                        <li><button onclick="tavi()"> tavi</button></li>
                        <li><button onclick="powerhouse()"> power house</button></li>
                        <li><button onclick="totu()"> totu</button></li>
                        <li><button onclick="yadgaar()"> yadgaar</button></li>
                        <li><button onclick="dhanda()">dhanda</button></li>
                        <li><button onclick="hiranagar()"> hiranagar</button></li>
                        <li><button onclick="jablog()"> jablog</button></li>
                        <li><button onclick="banooti()"> banooti</button></li>
                        <li><button onclick="chali()"> chali</button></li>
                        <li><button onclick=" ghanatti()"> ghanatti</button></li>
                    </ul>
                </section>

                <!-- <input type="text" id="myInput1" onkeyup="myFunction1()" placeholder="Ticket to"> -->
                <section class="container">

                    <input type="text" id="myInput1" onkeyup="myFunction1()" placeholder=" Search Place 'To'">
                    <ul id="myUL1">
                        <li><button id="obs" onclick="oldbusstand1()"> old bus stand</button></li>
                        <li><button id="vi" onclick="victorytunnel1()"> victory tunnel</button></li>
                        <li><button id="rs" onclick="railwaystation1()">railway station</button></li>
                        <li><button onclick="o1031()"> 103</button></li>
                        <li><button onclick="rto1()"> rto</button></li>
                        <li><button onclick="mlacrossing1()"> mla crossing</button></li>
                        <li><button onclick=" baluganj1()"> baluganj</button></li>
                        <li><button onclick="tavi1()"> tavi</button></li>
                        <li><button onclick="powerhouse1()"> power house</button></li>
                        <li><button onclick=" totu1()"> totu</button></li>
                        <li><button onclick=" yadgaar1()"> yadgaar</button></li>
                        <li><button onclick="dhanda1()">dhanda</button></li>
                        <li><button onclick="hiranagar1()"> hiranagar</button></li>
                        <li><button onclick="jablog1()"> jablog</button></li>
                        <li><button onclick=" banooti1()"> banooti</button></li>
                        <li><button onclick="chali1()"> chali</button></li>
                        <li><button onclick="ghanatti1()"> ghanatti</button></li>
                    </ul>
                </section>
            </section>

        </div>
        <div style="display: flex; align-items: center;justify-content: center;">
            <div class="flname" style="width: 70vw;">
                <div style="width: 240px;text-align: center;margin-left: 10px;">
                    <b>
                        First Name :</b> <input type="text" name="FirstName" required id="FirstName">
                </div>
                <div style="width: 200px;text-align: center;margin-left: 10px;">
                    <b> Last Name : </b><input type="text" id="LastName">
                </div>
            </div>

        </div>
        <div>
            <div class="outputs" style="display: none;">
                <input type="text" placeholder="FROM" id="output">
                <input type="text" placeholder="TO" id="output1">
            </div>
            <div style="display:none">
                <input type="text" readonly="readonly" placeholder="FROM" id="km1">
                <input type="text" placeholder="TO" id="km2">
                <input type="text" placeholder="total" id="total">
            </div>
            <div class="btttn"
                style=" width: 80vw;  display: flex;flex-direction: column;align-items: center;justify-content: center;">
                <section>
                    <b>Enter Number Of Days: </b><input id="days" type="number" placeholder="days upto">
                </section>
                <section style="display: none;">
                    <b> Valid From: </b><input type="text" readonly="readonly" id="validfrom">
                    <b> Valid Upto: </b><input type="text" readonly="readonly" id="validupto">
                </section>
                <section>
                    <b> Your Total Money Is = </b><input readonly="readonly" id="price">

                </section>
                <section id="ermsg" style="display:none; align-items: center; justify-content: center;">
                    <p style="color: rgb(255, 255, 255); font-weight: bolder;">* Enter your name</p>
                </section>

                <section style="display: flex;">
                    <button onclick="price();date();form11()" id="Submit">
                        <b> Done </b></button>


                    <form class="paybtn" method="post" action="/postpass">
                        <input name="firstname" style="display:none" type="text" id="fn">
                        <input name="lastname" style="display:none" type="text" id="ln">
                        <input name="from" style="display:none" type="text" id="ot">
                        <input name="to" style="display:none" type="text" id="ot1">
                        <input name="distance" style="display:none" type="text" id="tot">
                        <input name="validfrom" style="display:none" type="text" id="vf">
                        <input name="validto" style="display:none" type="text" id="vu">
                        <input name="price" style="display:none" type="text" id="pr">
                        <input name="uid" style="display:none" type="text" id="pr1">
                        <input id="generate" type="submit" style="display: none;" value="Pay">
                    </form>
                </section>
            </div>
        </div>
    </div>

















    <script src="index.js"></script>
    <script src="se_func.js"></script>

    <script src="form.js"></script>
    <script src="button.js"></script>
</body>

</html>